
.stopwatch {
    
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
}

.main-body {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-areas: 
    "timer timer refresh" 
    "buttons buttons refresh" 
    "laps laps refresh";
    justify-content: center;
    align-items: center;
}

.timer{
    grid-area: timer;
}

.watch{
    margin: 0px;
    padding: 0px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 10em;
}

.Buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* height: 75px;
    width: 100vw; */
}


button{
    text-decoration: none;
    border: none;
    height: 3em;
    width: 5em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: 4em;
    margin: 10px;
    
}

#start{
    background-color: green;
}

#stop{
    background-color: rgb(141, 7, 7);
}

#resume{
    background-color: aqua;
}

#lap{
    background-color: yellow;
}

.lap_div{
    grid-area: laps;
    display: flex;
    justify-content: center;
    align-items: center;
}

.refresh {
    grid-area: refresh;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-top: 10em;
    animation: spinning-logocat 2s;
    
}

@keyframes spinning-logocat {50%{transform:rotateY(180deg);}}


  

